.calc
 background: url(../img/calc/bg-calc.jpg) no-repeat center
 background-size: cover
 padding-top: 70px
 padding-bottom: 70px
 position: relative
 &-widget
  position: absolute
  right: 0
  top: 25%
  &__item
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   width: 70px
   height: 65px
   background: #7fd3bf
   border-radius: 4px 0 0 4px
   margin: 5px 0
   cursor: pointer
   transition: .2s
   &:hover
    background: #6fbaa8
   img
    width: 15px
    height: auto
   span
    font-size: 11px
    color: #fff
    text-align: center
    padding-top: 7px
 &-block
  h1
   font-size: 40px
   font-weight: 500
   color: #fff
   text-align: center
   letter-spacing: 1px
  &__filter
   background: #fff
   border-radius: 4px
   padding: 25px
   box-sizing: border-box
   &-top
    display: flex
    align-items: center
    padding-bottom: 10px
   &-select
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__form
   &-descr
    font-size: 14px
    font-weight: 300
    padding-bottom: 10px

.button-filter
 text-transform: uppercase
 padding: 12px 30px
 font-size: 13px
 font-weight: 500

.calc-filter
 background: #F7F7F7
 border: none
 color: #000
 padding: 0 10px
 width: 14.9em
 height: 40px
 outline: none
 font-size: 13px
 cursor: pointer

.calc-label
 position: relative
 &:after
  position: absolute
  right: 10px
  top: 25%
  font-family: 'material design icons'
  content: '\f140'
  font-size: 18px
  color: #404853
  pointer-events: none


#user_filter_handler_min,
#user_filter_handler_max
 width: 82px
 margin-left: -41px
 height: 32px
 top: 50%
 margin-top: -16px
 text-align: center
 line-height: 2.5em
 font-size: 13px
 outline: none
 background: #F7F7F7
 border: 1px solid #EDEDED
 border-radius: 16px
 color: #000
 &:before
  position: absolute
  left: 2px
  top: 0
  font-family: 'material design icons'
  content: '\f141'
  font-size: 16px
  color:  #d8d8d8
  pointer-events: none
 &:after
  position: absolute
  right: 2px
  top: 0
  font-family: 'material design icons'
  content: '\f142'
  font-size: 16px
  color:  #d8d8d8
  pointer-events: none

.input-row
 padding-left: 30px

.ui-slider-range
 background: #7fd3bf

.ui-widget.ui-widget-content
 border: none

#user_filter
 background: #d6d6d6
 height: 8px

.form-group
 width: 70%
 margin: 0 40px

.input-helper
 position: relative
 display: inline-block
 font-weight: 300
 font-size: 14px
 padding-bottom: 10px

.input-helper:before
 content: ''
 display: block
 position: absolute

.input-helper--checkbox
 padding-left: 20px

.input-helper--checkbox:before
 top: 2px
 left: 0
 width: 13px
 height: 13px
 border: 1px solid #E2E2E2
 border-radius: 4px
 background: #F7F7F7

input[type="checkbox"]
 display: none

input[type="checkbox"]:checked + label:before
 background: #404853
 border: 2px solid #E2E2E2
 padding: 5px

// checkbox end
