body {
  margin: 0;
  background: #F7F7F7;
  font-family: 'Roboto', sans-serif;
  color: #1F252D;
  font-weight: 400;
}

h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

img {
  outline: none;
  max-width: 100%;
}

input,
button {
  outline: none;
  border: none;
}

input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

iframe {
  border: none;
}

a {
  outline: none;
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

textarea::focus {
  outline: none;
}

a {
  text-decoration: none;
}

.button {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

button {
  cursor: pointer;
}

.button {
  background: #079FC2;
  -webkit-box-shadow: 0px 4px 10px rgba(116, 207, 183, 0.455022);
  box-shadow: 0px 4px 10px rgba(116, 207, 183, 0.455022);
  color: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 25px;
  -webkit-transition: .2s;
  transition: .2s;
}

.button:hover {
  color: #ffffff;
  background: #068aa9;
}

.section-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.scrollup {
  position: fixed;
  color: #fff;
  background-color: #388e3c;
  left: 20px;
  bottom: 15px;
  padding: 6px;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 100;
}

.scrollup:hover {
  background-color: #000;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top__logo {
  width: 187px;
  background: #7fd4bf;
  padding: 14px 10px;
}

.header-top__block-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.header-top__block-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__block-descr-text {
  font-size: 14px;
  font-weight: 300;
  padding-left: 6px;
}

.header-top__block-tel {
  padding-bottom: 10px;
}

.header-top__block-tel a {
  color: #1F252D;
  font-size: 20px;
  font-weight: 500;
}

.header-top__block-time {
  font-size: 14px;
  font-weight: 300;
}

.header-nav {
  background: #fff;
}

.header-nav__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 0 22px 0;
  border-bottom: 4px solid #7fd4bf;
}

.header-nav__block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-nav__block ul li a {
  text-transform: uppercase;
  color: #1F252D;
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: .1s;
  transition: .1s;
}

.header-nav__block ul li a:hover {
  color: #7fd4bf;
}

.divider {
  background: url("../img/header/line.png") no-repeat center;
  background-size: contain;
  width: 2px;
  margin: 0 20px;
}

.button-search {
  background: url("../img/header/search-icon.svg") no-repeat center;
  background-size: contain;
  display: block;
  width: 12px;
  height: 12px;
  -webkit-transition: .1s;
  transition: .1s;
}

.button-search:hover {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.button-mobile {
  display: none;
  padding: 10px;
}

.button-mobile span::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  line-height: 0;
  height: 20px;
}

.menu-container {
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  z-index: 999;
  background: #dee0e0;
  width: 320px;
  right: -320px;
  line-height: 75px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-open {
  right: 0px;
}

.toggle-menu {
  display: none;
  top: 0;
  right: 0;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-bar {
  height: 3px;
  display: block;
  width: 30px;
  opacity: 1;
  background: #1F252D;
  margin-bottom: 5px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.toggle-menu.active {
  right: -120px;
  top: 0px;
  z-index: 1000;
}

.toggle-menu .icon-bar:last-child {
  margin-bottom: 0;
}

.toggle-menu .icon-bar.hide-closed {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.toggle-menu.active .icon-bar {
  margin-bottom: -3px;
}

.toggle-menu.active .skew-clock {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.toggle-menu.active .hide-closed {
  opacity: 0 !important;
}

.toggle-menu.active .skew-counter {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-text {
  top: 0;
  right: 100px;
  position: fixed;
  color: #000;
  font-size: 20px;
  line-height: 75px;
  text-transform: uppercase;
}

.menu {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 50px 0;
  list-style: none;
  overflow-y: scroll;
}

.menu li {
  border-bottom: 1px solid #d6d9db;
  width: 100%;
  height: 75px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.menu li:hover,
.menu li.active {
  background-color: rgba(0, 0, 0, 0.15);
}

.menu li a {
  display: block;
  color: #1F252D;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
}

.menu li a:hover {
  color: #1F252D;
  background: none;
}

.nav-line,
.container {
  position: relative;
}

.nav-line {
  height: 70px;
  background-color: #ccc;
}

.nav-line ul {
  margin: 0;
  padding: 0;
}

.nav-line ul li {
  list-style: none;
  display: inline-block;
}

#user_age_handler_min,
#user_age_handler_max {
  width: 82px;
  margin-left: -41px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
  text-align: center;
  line-height: 2em;
  outline: none;
  background: #F7F7F7;
  border: 1px solid #EDEDED;
  border-radius: 16px;
  color: #000;
}

.ui-slider-range {
  background: #7fd3bf;
}

.ui-widget.ui-widget-content {
  border: none;
}

#user_age {
  background: #d6d6d6;
  height: 8px;
}

.input-helper {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.input-helper:before {
  content: '';
  display: block;
  position: absolute;
}

.input-helper--checkbox {
  padding-left: 20px;
}

.input-helper--checkbox:before {
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  background: #F7F7F7;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label:before {
  background: #404853;
  border: 2px solid #E2E2E2;
  padding: 5px;
}

@media (max-width: 1199px) {
  .header-top__logo {
    width: 130px;
    padding: 14px 10px;
  }

  .header-top__block-title {
    padding-bottom: 10px;
    font-size: 18px;
  }

  .header-top__block-descr-text {
    font-size: 12px;
    padding-left: 6px;
  }

  .header-top__block-tel {
    padding-bottom: 10px;
  }

  .header-top__block-tel a {
    font-size: 18px;
  }

  .header-top__block-time {
    font-size: 12px;
  }

  .header-nav__block {
    padding: 26px 0 22px 0;
  }

  .header-nav__block ul {
    margin: 0;
    padding: 0;
  }

  .header-nav__block ul li a {
    font-size: 11px;
  }

  .button-header {
    font-size: 12px;
  }

  .divider {
    margin: 0 10px;
  }
}

@media (max-width: 991px) {
  .header {
    background: #fff;
  }

  .header-top__logo {
    width: 100px;
    padding: 5px;
  }

  .header-nav {
    display: none;
  }

  .header-top__block:nth-child(2) {
    display: none;
  }

  .toggle-menu,
  .menu-container {
    display: block;
  }

  .button-header {
    display: none;
  }

  .button-mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .toggle-menu.active {
    right: -100px;
  }
}

@media (max-width: 575px) {
  .header-top__block:nth-child(3) {
    display: none;
  }

  .toggle-menu.active {
    right: 0;
  }
}